<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/views/layout/head :: content}"></head>
<body class="hold-transition skin-green-light sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <div th:replace="~{/views/layout/header :: headerAA}"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div th:replace="~{/views/layout/menuroot :: menuroot}"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        科目管理
        <small>对所有的科目进行管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">题库管理</a></li>
        <li class="active">科目管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">科目列表</h3>
            </div>
            <div id="toolbar">
              <div class="pull-left">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#SubjectInsertModal">
                  <i class="fa fa-file">添加科目</i>
                </button>
                <button type="button" class="btn btn-danger" id="removeBtn">
                  <i class="fa fa-file">批量删除</i>
                </button>
              </div>
              <div class="pull-right">
                <input type="text" id="keyword" placeholder="按照名称查询">
                <button type="button" class="btn btn-info" id="searchBtn">
                  <i class="fa fa-search">搜索</i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="subjectTable"></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="~{/views/layout/foot :: footer}"></div>
  <!-- Insert Modal -->
  <div class="modal fade" id="SubjectInsertModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">科目添加</h4>
        </div>
        <div class="modal-body">
          <form id="subjectAdd">
            <div class="form-group">
              <label for="subname">科目名称</label>
              <input type="text" class="form-control" name="subname" id="subname" placeholder="请输入科目名称">
            </div>
            <button type="submit" class="btn btn-primary ">添加</button>
            <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
          </form>
        </div>
        <div class="modal-footer">
          <span>请在输入科目信息后点击添加按钮</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="SubjectEditModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">科目修改</h4>
        </div>
        <div class="modal-body">
          <form id="subjectEdit">
            <div class="form-group">
              <label for="newsubname">科目名称</label>
              <input type="text" class="form-control" name="newsubname" id="newsubname" placeholder="请输入科目名称">
            </div>
            <button type="button" id="modifyBtn" class="btn btn-primary ">修改</button>
            <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
          </form>
        </div>
        <div class="modal-footer">
          <span>请输入更改后的科目信息 然后点击添加按钮</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Ques Modal -->
  <div class="modal fade" id="QuesModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">查看科目中的题目</h4>
        </div>
        <div id="quesModalBodyFather">
          <div class="modal-body" id="quesModalBody"></div>
        </div>
        <div class="modal-footer">
          <span>想要为科目添加题目？点击左侧菜单栏中的“题目科目分配”试试吧！</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<!-- ./wrapper -->

<!-- page script -->
<script>
  //菜单指示页面
  $(function () {
    $("li.active").removeClass("active");
    $("#probtree").addClass("active");
    $("#submanage").addClass("active");
  });
  //Subject单个删除
  function removeUser(id){
    layer.msg('确定删除吗？与该科目相关的题目，成绩，将全部删除。', {
      time: 0,
      btn: ['确定', '删个屁'],
      yes: function (index) {
        layer.close(index);
        $.ajax({
          url: '/subject/remove?subId=' + id,
          success: function (msg) {
            var json = msg["data"];
            if (json["success"]) {
              layer.msg(json["msg"], {icon: 6,time:2000});
              $("#subjectTable").bootstrapTable("remove", {field: 'subId', values: [id]});//注意参数的name
            } else {
              layer.msg(json["msg"], {icon: 5,time:2000});
            }
          },
          error: function (data) {
            layer.msg("未知错误！", {icon: 5,time:2000});
          }

        })
      }
    })
  }
  //表格渲染
  $(function () {
    $("#subjectTable").bootstrapTable({//在id为dataTable的
      url: '/subject/list',
      pagination: true,//是否分页
      toolbar: "#toolbar",
      toolbarAlign: "right",
      //search: true,//是否允许搜索
      queryParamsType: 'limit',
      queryParams: queryParams,
      sidePagination: 'server',
      dataField: "data",
      columns: [{//表头
        field: 'subId',
        title: 'ID'
      }, {
        field: 'subname',
        title: '科目名称'
      }, {
        field: 'subtime',
        title: '最近编辑时间',
        formatter: function (value, row, index) {
          return formatDateTime(value)
        }
      }, {
        title: '操作',
        formatter: function (value, row) {
          return [
            '<button  type="button" class="btn btn-primary btn-edit btn-xs" ',
            'data-toggle="modal" data-target="#QuesModal"', 'data-id=' + row.subId + ' ' +')>',
            '<i class="fa fa-edit" >查看题目</i></button>',
            '<button  type="button" class="btn btn-warning btn-edit btn-xs" ',
            'data-toggle="modal" data-target="#SubjectEditModal"', 'data-id=' + row.subId + ' ' +')>',
            '<i class="fa fa-edit" >修改</i></button>',

            '<button type="button" class="btn btn-danger btn-xs" ',
            'onClick=removeUser(' + row.subId + ')>',
            '<i class="fa fa-remove" >删除</i></button>'
          ].join('');
        }
      }]

    })

  });
  function queryParams(params) {
    return {
      //把我们的pageNum，pageSize传到命令中去
      pageSize: params.limit,
      pageNum: params.offset / params.limit + 1,
      keyword: $("#keyword").val()
    }
  }
  //转换日期格式(时间戳转换为datetime格式)
  // 数字补0操作
  function  addZero(num) {
    return num < 10 ? '0' + num : num;
  }
  function formatDateTime (date) {
    var time = new Date(Date.parse(date));
    time.setTime(time.setHours(time.getHours() + 8));
    var Y = time.getFullYear() + '-';
    var  M = this.addZero(time.getMonth() + 1) + '-';
    var D = this.addZero(time.getDate()) + ' ';
    var h = this.addZero(time.getHours()) + ':';
    var m = this.addZero(time.getMinutes()) + ':';
    var  s = this.addZero(time.getSeconds());
    return Y + M + D;
    // }
  }

//科目添加
  $("#subjectAdd").validate({
    rules: {
      subname: {
        required: true,//用户名是必填字段
        minlength: 4,//4位
        maxlength: 20,//最多输入20
        remote: {
          url: "/subject/check-subname",
          type: "get",
          data: {
            subname: function () {
              return $("#subname").val();
            }
          }
        }
      }
    },
    messages: {
      //定义消息
      subname: {
        required: "请输入科目名!",
        remote: "科目名已存在，请修改科目名！"
      }
    },
    submitHandler: function (form) {
      var subname = $("#subname").val();
      //验证完成后提交表单
      //进行ajax传值
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: basePath + "/subject/save",
        data: JSON.stringify({"subname": subname}),
        dataType: "json",
        success: function (msg) {
          var json = msg["data"];
          if (json["success"]) {
            $("#subjectAdd")[0].reset();
            layer.msg(json["msg"], {icon: 6, shade: 0.4,time:2000}, function () {
              $("#SubjectInsertModal").modal('hide');
            });
            $("#subjectTable").bootstrapTable("refresh");

          } else {
            layer.msg(json["msg"], {icon: 5,time:2000});
          }
        }
      });

    }
  });
  //科目修改
  $("#modifyBtn").click(function () {
    var subname = $("#newsubname").val();
    var id = $.session.get('SUBID');
    //alert("subId "+id+"subname "+ subname)
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: basePath + "/subject/modify",
      data: JSON.stringify({"subId":id, "subname": subname}),
      dataType: "json",
      success: function (msg) {
        var json = msg["data"];
        if (json["success"]) {
          $("#subjectEdit")[0].reset();
          layer.msg(json["msg"], {icon: 6, time:2000,shade: 0.4}, function () {
            $("#SubjectEditModal").modal('hide');
          });
          $("#subjectTable").bootstrapTable("refresh");

        } else {
          layer.msg(json["msg"], {icon: 5,time:2000});
        }
      }
    })
  });
  //修改modal显示时加载数据
  $("#SubjectEditModal").on('show.bs.modal', function (e) {
    // alert("?");
    //监听事件，当modal被打开时做一些事情
    //console.log($(e.relatedTarget).attr('data-id')); //测试是否能拿到值
    var id = $(e.relatedTarget).attr('data-id');
     $.session.remove('SUBID');
     $.session.set('SUBID',id);
    if(id){
      $.ajax({
        url: '/subject/getsubjectbyid?id=' + id,
        method: 'get',
        success: function (data) {
          //console.log(data);//测试能否得到user
          $('#newsubname').val(data.subname);
        }
      })
    }

  });
  //Questable的查看
  $("#QuesModal").on('show.bs.modal', function (e) {
    $("#quesModalBodyFather").empty();
    $("#quesModalBodyFather").append('<div class="modal-body" id="quesModalBody"></div>');
    var subId = $(e.relatedTarget).attr('data-id');
    $("#quesModalBody").append('<table id="ques'+subId+'"></table>');
    $.session.remove('SUBID');
    $.session.set('SUBID',subId);
    if(subId){
      var qustTable = '#ques'+subId;
      $(qustTable).bootstrapTable({
        url: '/question/listbysubid?subId='+subId,
        pagination: true,//是否分页
        //toolbar: "#toolbar",
        //toolbarAlign: "right",
        //search: true,//是否允许搜索
        queryParamsType: 'limit',
        queryParams: queryParams,
        sidePagination: 'server',
        dataField: "data",
        columns: [{//表头
          field: 'quesId',
          title: 'ID'
        }, {
          field: 'typeId',
          title: '题型',
          formatter: function (value) {
            var typeNameEnd;
            $.ajax({
              url: '/type/gettypebyid?id=' + value,
              method: 'get',
              async: false,//异步回显
              success: function (data) {
                typeNameEnd = data.typename;
              }
            });
            return typeNameEnd;
          }
        }, {
          field: 'title',
          title: '题干'
        }, {
          field: 'score',
          title: '题目分值',

        }, {
          field: 'ansa',
          title: '选项A',
        }, {
          field: 'ansb',
          title: '选项B',
        }, {
          field: 'ansc',
          title: '选项C',
        }, {
          field: 'ansd',
          title: '选项D',
        }, {
          field: 'anse',
          title: '选项E',
        }, {
          field: 'answer',
          title: '非选择题答案',
          formatter: function (value, row) {
            if (row.typeId == 3) {//如果是判断题
              if (value == 1) {
                return "正确";
              } else {
                return "错误"
              }
            } else {
              return value;
            }
          }
        },
          {
            field: 'choanswer',
            title: '选择题答案',
            formatter: function (value, row) {
              if (row.typeId == 1) {
                //单选题
                if (value == 1000) {
                  return "A";
                } else if (value == 100) {
                  return "B";
                } else if (value == 10) {
                  return "C"
                } else if (value == 1) {
                  return "D"
                }
              } else if (row.typeId == 2) {
                //多选题
                let answer = "";
                if (value >= 10000) {
                  answer += "A";
                  value -= 10000;
                }
                if (value >= 1000) {
                  answer += "B";
                  value -= 1000;
                }
                if (value >= 100) {
                  answer += "C";
                  value -= 100;
                }
                if (value >= 10) {
                  answer += "D";
                  value -= 10;
                }
                if (value == 1) {
                  answer += "E";
                }
                return answer;

              }
            }
          }]
      });
    }

  });
  $('#QuesModal').on('hide.bs.modal', function () {
    var subId = $.session.get('SUBID');
    var qustTable = '#ques'+subId;
    $(qustTable).remove();
  });
</script>

</body>
</html>