<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/views/layout/head :: content}"></head>

<body class="hold-transition skin-green-light sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <div th:replace="~{/views/layout/header :: headerAA}"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div th:replace="~{/views/layout/menuroot :: menuroot}"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        题型管理
        <small>可进行自定义题型</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">题库管理</a></li>
        <li class="active">题型管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">题型列表</h3>
            </div>
            <div id="toolbar">
              <div class="pull-left">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#TypeInsertModal">
                  <i class="fa fa-file">添加题型</i>
                </button>
                <button type="button" class="btn btn-danger" id="removeBtn">
                  <i class="fa fa-file">批量删除</i>
                </button>
              </div>
              <div class="pull-right">
                <input type="text" id="keyword" placeholder="按照名称查询">
                <button type="button" class="btn btn-info" id="searchBtn">
                  <i class="fa fa-search">搜索</i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="typeTable"></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="~{/views/layout/foot :: footer}"></div>
  <!-- Insert Modal -->
  <div class="modal fade" id="TypeInsertModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">题型添加</h4>
        </div>
        <div class="modal-body">
          <form id="typeAdd">
            <div class="form-group">
              <label for="typename">题型名称</label>
              <input type="text" class="form-control" name="typename" id="typename" placeholder="请输入科目名称">
            </div>
            <button type="submit" class="btn btn-primary ">添加</button>
            <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
          </form>
        </div>
        <div class="modal-footer">
          <span>请在输入题型信息后点击添加按钮</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="TypeEditModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">题型修改</h4>
        </div>
        <div class="modal-body">
          <form id="typeEdit">
            <div class="form-group">
              <label for="newtypename">题型名称</label>
              <input type="text" class="form-control" name="newtypename" id="newtypename" placeholder="请输入题型名称">
            </div>
            <button type="button" id="modifyBtn" class="btn btn-primary ">修改</button>
            <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
          </form>
        </div>
        <div class="modal-footer">
          <span>请输入更改后的题型信息 然后点击添加按钮</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



</div>
<!-- ./wrapper -->

<!-- page script -->
<script>
  //菜单对应标志添加active的class
  $(function () {
    $("li.active").removeClass("active");
    $("#probtree").addClass("active");
    $("#typemanage").addClass("active");
  })
  //表格渲染
  $(function () {
    $("#typeTable").bootstrapTable({//在id为dataTable的
      url: '/type/list',
      pagination: true,//是否分页
      toolbar: "#toolbar",
      toolbarAlign: "right",
      //search: true,//是否允许搜索
      queryParamsType: 'limit',
      queryParams: queryParams,
      sidePagination: 'server',
      dataField: "data",
      columns: [{//表头
        field: 'typeId',
        title: 'ID'
      }, {
        field: 'typename',
        title: '题型名称'
      }, {
        title: '操作',
        formatter: function (value, row) {
          return [
            '<button  type="button" class="btn btn-warning btn-edit btn-xs" ',
            'data-toggle="modal" data-target="#TypeEditModal"', 'data-id=' + row.typeId + ' ' +')>',
            '<i class="fa fa-edit" >修改</i></button>',

            '<button type="button" class="btn btn-danger btn-xs" ',
            'onClick=removeUser(' + row.typeId + ')>',
            '<i class="fa fa-remove" >删除</i></button>']
                  .join('');
        }
      }]

    })
  })
  function queryParams(params) {
    return {
      //把我们的pageNum，pageSize传到命令中去
      pageSize: params.limit,
      pageNum: params.offset / params.limit + 1,
      keyword: $("#keyword").val()
    }
  }
  //题型添加
  $("#typeAdd").validate({
    rules: {
      typename: {
        required: true,//用户名是必填字段
        maxlength: 20,//最多输入20
        remote: {
          url: "/type/check-typename",
          type: "get",
          data: {
            typename: function () {
              return $("#typename").val();
            }
          }
        }
      }
    },
    messages: {
      //定义消息
      typename: {
        required: "请输入题型名称!",
        remote: "该题型已存在，请修改题型！"
      }
    },
    submitHandler: function (form) {
      var typename = $("#typename").val();
      //验证完成后提交表单
      //进行ajax传值
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: basePath + "/type/save",
        data: JSON.stringify({"typename": typename}),
        dataType: "json",
        success: function (msg) {
          var json = msg["data"];
          if (json["success"]) {
            $("#typeAdd")[0].reset();
            layer.msg(json["msg"], {icon: 6, shade: 0.4,time:2000}, function () {
              $("#TypeInsertModal").modal('hide');
            });
            $("#typeTable").bootstrapTable("refresh");

          } else {
            layer.msg(json["msg"], {icon: 5,time:2000});
          }
        }
      });

    }
  })
  //题型修改
  $("#modifyBtn").click(function () {
    var typename = $("#newtypename").val();
    var id = $.session.get('TYPEID');
    //alert("subId "+id+"subname "+ subname)
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: basePath + "/type/modify",
      data: JSON.stringify({"typeId":id, "typename": typename}),
      dataType: "json",
      success: function (msg) {
        var json = msg["data"];
        if (json["success"]) {
          $("#typeEdit")[0].reset();
          layer.msg(json["msg"], {icon: 6, time:2000,shade: 0.4}, function () {
            $("#TypeEditModal").modal('hide');
          });
          $("#typeTable").bootstrapTable("refresh");

        } else {
          layer.msg(json["msg"], {icon: 5,time:2000});
        }
      }
    })
  });

  //显示模态框时加载数据
  $("#TypeEditModal").on('show.bs.modal', function (e) {
    // alert("?");
    //监听事件，当modal被打开时做一些事情
    //console.log($(e.relatedTarget).attr('data-id')); //测试是否能拿到值
    var id = $(e.relatedTarget).attr('data-id');
    $.session.remove('TYPEID');
    $.session.set('TYPEID',id);
    if(id){
      $.ajax({
        url: '/type/gettypebyid?id=' + id,
        method: 'get',
        success: function (data) {
          //console.log(data);//测试能否得到user
          $('#newtypename').val(data.typename);
        }
      })
    }

  });
  //删除单个题型
  function removeUser(id) {
    layer.msg('确定删除吗？', {
      time: 0,
      btn: ['确定', '删个屁'],
      yes: function (index) {
        layer.close(index);
        $.ajax({
          url: '/type/remove?typeId=' + id,
          success: function (msg) {
            var json = msg["data"];
            if (json["success"]) {
              layer.msg(json["msg"], {icon: 6,time:2000});
              $("#typeTable").bootstrapTable("remove", {field: 'typeId', values: [id]});//注意参数的name
            } else {
              layer.msg(json["msg"], {icon: 5,time:2000});
            }
          },
          error: function (data) {
            layer.msg("未知错误！", {icon: 5,time:2000});
          }

        })
      }
    })
  }
</script>

</body>
</html>