<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/views/layout/head :: content}"></head>
<body class="hold-transition skin-green-light sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <div th:replace="~{/views/layout/header :: headerAA}"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div th:replace="~{/views/layout/menuroot :: menuroot}"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        用户科目分配
        <small>为用户分配需要考试の科目</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="active">用户科目分配</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">用户科目分配</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="usersubTable"></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <div th:replace="~{/views/layout/foot :: footer}"></div>
  <!-- Insert Modal -->
  <div class="modal fade" id="UserSubjectModal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">查看/分配用户科目</h4>
        </div>
        <div class="modal-body">
          <form id="usersubform" role="form" class="form-inline">
            <div class="form-group">
              <label>未分配科目列表</label><br>
              <select class="form-control" multiple size="10"
                      style="width:100px;overflow-y:auto;">
                <option value="pm">管理员</option>
                <option value="sa">项目秘书</option>
                <option value="se">部门领导</option>
              </select>
            </div>
            <div class="form-group">
              <ul>
                <li class="btn btn-default glyphicon glyphicon-chevron-right"></li>
                <br>
                <li class="btn btn-default glyphicon glyphicon-chevron-left"
                    style="margin-top:20px;"></li>
              </ul>
            </div>
            <div class="form-group" style="margin-left:40px;">
              <label>已分配科目列表</label><br>
              <select class="form-control" multiple size="10"
                      style="width:100px;overflow-y:auto;">
                <option value="qa">发改局</option>
                <option value="qc">牵头委领导</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <span>请在分配完成后点击完成按钮</span>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</div>
<!-- ./wrapper -->


<script>
  //菜单指示页面
  $(function () {
    //把所有的active都收起来
    $("li.active").removeClass("active");
    $("#usertree").addClass("active");
    $("#usubmanage").addClass("active");
  });
  //表格渲染
  $(function () {
    $("#usersubTable").bootstrapTable({//在id为dataTable的
      url: '/user/list',
      pagination: true,//是否分页
      toolbar: "#toolbar",
      toolbarAlign: "right",
      //search: true,//是否允许搜索
      queryParamsType: 'limit',
      queryParams: queryParams,
      sidePagination: 'server',
      dataField: "data",
      columns: [{//表头
        field: 'uId',
        title: 'ID'
      }, {
        field: 'uname',
        title: '登录名'
      }, {
        field: 'roleId',
        title: '权限',
        formatter: function (value) {
          if (value == 1) {
            return '管理员';
          } else {
            return '普通用户';
          }
        }

      }, {
        title: '操作',
        formatter: function (value, row) {
          if (row.roleId == 1) {
            return '管理员无需分配科目';
          } else {
            return [
              '<button  type="button" class="btn btn-primary btn-edit btn-xs" ',
              'data-toggle="modal" data-target="#UserSubjectModal"', 'data-id=' + row.uId + ' ' +')>',
              '<i class="fa fa-edit" >查看/分配科目</i></button>'].join('');
          }
        }
      }]

    })
  });
  function queryParams(params) {
    return {
      //把我们的pageNum，pageSize传到命令中去
      pageSize: params.limit,
      pageNum: params.offset / params.limit + 1,
      keyword: $("#keyword").val()
    }
  }

  //分配模态框启动时
  $("#UserSubjectModal").on('show.bs.modal', function (e) {
    //alert("?");
    //监听事件，当modal被打开时做一些事情
    //console.log($(e.relatedTarget).attr('data-id')); //测试是否能拿到值
    var id = $(e.relatedTarget).attr('data-id');
    $.session.remove('UID');
    $.session.set('UID',id);
    //获取未分配科目列表和已分配科目列表
    if(id){
      $.ajax({
        url: '/user_sub/getnousersubject?uid=' + id,
        method: 'get',
        success: function (data) {
          console.log(data);//测试能否得到user
        }
      })
    }

  });
</script>
</body>
</html>