<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/views/layout/headtest :: content}"></head>
<body class="hold-transition skin-green-light sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <div th:replace="~{/views/layout/headertest :: headerAA}"></div>
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div>
            <div>请在完成所有题目后点击交卷，如果不想考试或者重新组卷，请点击安全退出，否则将无法正常进行下次考试！</div>
            <div id="toolbar">
                <div class="pull-left">
                    <button type="button" class="btn btn-warning">
                        <i class="fa fa-file">交卷</i>
                    </button>
                </div>
                <div class="pull-right" id="exitDiv">

                </div>
            </div>
        </div>
        <h3>剩余待考题目</h3>
        <table id="questionTable"></table>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div th:replace="~{/views/layout/foot :: footer}"></div>

    <!-- 单选题 Modal -->
    <div class="modal fade" id="ChoseModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="choseModalHeader">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">单选题</h4>
                </div>
                <div class="modal-body" id="choseModalBody">
                    <form id="choseForm">
                        <div class="form-group">
                            <label for="choseTitle">题目</label>
                            <h4 id="choseTitle"></h4>
                        </div>

                        <div class="form-group">
                            <label for="choseTitle">分值</label>
                            <h5 id="choseScore"></h5>

                        </div>
                        <div class="form-group">
                            <label for="choseTitle">选项A</label>
                            <h4 id="choseAnsA"></h4>
                        </div>
                        <div class="form-group">
                            <label for="choseTitle">选项B</label>
                            <h4 id="choseAnsB"></h4>
                        </div>
                        <div class="form-group">
                            <label for="choseTitle">选项D</label>
                            <h4 id="choseAnsC"></h4>
                        </div>
                        <div class="form-group">
                            <label for="choseTitle">选项C</label>
                            <h4 id="choseAnsD"></h4>
                        </div>
                        <div class="form-group">
                            <label>答案</label>
                            <select class="form-control" id="choseAnswer">
                                <option value="0">请选择...</option>
                                <option value="1000">A</option>
                                <option value="100">B</option>
                                <option value="10">C</option>
                                <option value="1">D</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" id="choseQuesBtn">提交答案</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <span>答题后点击提交按钮，请注意，答案不可修改！</span>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 多选题 Modal -->
    <div class="modal fade" id="MultiChoseModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="multiChoseHeader">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">多选题</h4>
                </div>
                <div class="modal-body" id="multiChoseBody">
                    <form id="multiChoseForm">
                        <div class="form-group">
                            <label for="multiChoseTitle">题目</label>
                            <h4 id="multiChoseTitle"></h4>
                        </div>

                        <div class="form-group">
                            <label for="multiChoseScore">分值</label>
                            <h5 id="multiChoseScore"></h5>

                        </div>
                        <div class="form-group">
                            <label for="multiChoseAnsA">选项A</label>
                            <h4 id="multiChoseAnsA"></h4>
                        </div>
                        <div class="form-group">
                            <label for="multiChoseAnsB">选项B</label>
                            <h4 id="multiChoseAnsB"></h4>
                        </div>
                        <div class="form-group">
                            <label for="multiChoseAnsC">选项C</label>
                            <h4 id="multiChoseAnsC"></h4>
                        </div>
                        <div class="form-group">
                            <label for="multiChoseAnsD">选项D</label>
                            <h4 id="multiChoseAnsD"></h4>
                        </div>
                        <div class="form-group">
                            <label for="multiChoseAnsE">选项E</label>
                            <h4 id="multiChoseAnsE"></h4>
                        </div>
                        <div class="form-group">
                            <label>答案</label>
                            <select  id="multiChoseAnswerA">
                                <option value="0">请选择...</option>
                                <option value="10000">A</option>
                            </select>
                            <select  id="multiChoseAnswerB">
                                <option value="0">请选择...</option>
                                <option value="1000">B</option>
                            </select>
                            <select  id="multiChoseAnswerC">
                                <option value="0">请选择...</option>
                                <option value="100">C</option>
                            </select>
                            <select  id="multiChoseAnswerD">
                                <option value="0">请选择...</option>
                                <option value="10">D</option>
                            </select>
                            <select  id="multiChoseAnswerE">
                                <option value="0">请选择...</option>
                                <option value="1">E</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" id="multiChoseQuesBtn">提交答案</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <span>答题后点击提交按钮</span>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 判断题 Modal -->
    <div class="modal fade" id="JudgeModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">判断题</h4>
                </div>
                <div class="modal-body" id="judgeModalBody">

                </div>
                <div class="modal-footer">
                    <span>答题后点击提交按钮</span>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 其他题 Modal -->
    <div class="modal fade" id="OtherModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">其他类型题目</h4>
                </div>
                <div class="modal-body" otherModalBody>

                </div>
                <div class="modal-footer">
                    <span>答题后点击提交按钮</span>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<!-- ./wrapper -->


<script>
    //退出考试按钮
    $(function () {
        var subId = $.session.get('SSUBID');
        var uId = $.session.get('UUID');
        $("#exitDiv").append('<button type="button" class="btn btn-danger"\n' +
            '                            onclick="safeExit(' + subId + ',' + uId + ')">\n' +
            '                        <i class="fa fa-file">安全退出考试</a></i>\n' +
            '                    </button>');
    })

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return r[2];
        return '';
    }

    $(function () {
        $("li.active").removeClass("active");
        $("body").addClass("sidebar-collapse");
        $.session.set('score',0)
    })
    $(function () {
        var subId = $.session.get('SSUBID');
        var uId = $.session.get('UUID');

        $("#questionTable").bootstrapTable({
            url: '/exam/listQues?subId=' + subId + '&uId=' + uId,
            //pagination: true,//是否分页
            toolbar: "#toolbar",
            toolbarAlign: "right",
            //search: true,//是否允许搜索
            //queryParamsType: 'limit',
            //queryParams: queryParams,
            sidePagination: 'server',
            dataField: "data",
            columns: [{//表头
                field: 'quesId',
                title: '题目ID',
            }, {
                field: 'typeId',
                title: '题型',
                formatter: function (value) {
                    var typeNameEnd;
                    $.ajax({
                        url: '/type/gettypebyid?id=' + value,
                        method: 'get',
                        async: false,//异步回显
                        success: function (data) {
                            typeNameEnd = data.typename;
                        }
                    });
                    return typeNameEnd;
                }
            }, {
                field: 'title',
                title: '题干'
            }, {
                field: 'score',
                title: '题目分值',

            }, {
                title: '操作',
                formatter: function (value, row) {
                    return [
                        '<button  type="button" class="btn btn-primary btn-edit btn-xs" ',
                        'onClick=questionShow(this,'+ row.quesId +','+row.typeId+ ')>',
                        '<i class="fa fa-edit" >答题</i></button>']
                        .join('');
                }
            }]

        });

    })

    function safeExit(subId, uId) {
        layer.confirm("确定要退出考试重新分配题目吗？", {
            btn: ['好的', '不了'] //按钮
        }, function () {
            $.ajax({
                url: '/exam/removeAll?subId=' + subId + "&uId=" + uId,
                method: 'get',
                success: function (msg) {
                    var json = msg["data"];
                    if (json["success"]) {
                        $.session.remove('SSUBID');
                        $.session.remove('UUID');
                        layer.msg(json["msg"], {icon: 6, time: 2000});
                        window.location.href = basePath + '/page/client';
                    } else {
                        layer.msg(json["msg"], {icon: 5, time: 2000});
                    }
                },
                error: function (data) {
                    layer.msg("未知错误！", {icon: 5, time: 2000});
                }
            })
        }, function () {
            layer.close();
        });
    }
    function questionShow(btn,quesId,typeId) {
        $.session.remove("QUESID");
        $.session.remove("TYPEID");
        $.session.set("QUESID",quesId);
        $.session.set("TYPEID",typeId);
        $("#questionTable").bootstrapTable("remove",{field: 'quesId',values: [quesId]});
        if(typeId==1){
            //选择题
            $("#ChoseModal").modal('show');
        }else if(typeId==2){
            //多选题
            $("#MultiChoseModal").modal('show');
        }else if(typeId==3){
            //判断题
            $("#JudgeModal").modal('show');
        }else{
            //其他题
            $("#OtherModal").modal('show');
        }
    }
    //选择题填充信息
    $("#ChoseModal").on('show.bs.modal',function (e) {
        var quesId = $.session.get("QUESID");
        if(quesId){
            $.ajax({
                url: '/question/getquestionbyidnoanswer?id=' + quesId,
                method: 'get',
                success: function (data) {
                    //console.log(data);//测试能否得到question
                    if(data.quespic!=null){
                        $("#choseModalHeader").empty();
                        $("#choseModalHeader").append('<div class="form-group"> \n' +
                            '<img src="'+data.quespic+'" alt="" width="350" /><br></div>');
                    }
                    $('#choseTitle').text(data.title);
                    //$('#choseImg').val(data['quespic']);
                    $('#choseScore').text(data.score);
                    $('#choseAnsA').text(data.ansa);
                    $('#choseAnsB').text(data.ansb);
                    $('#choseAnsC').text(data.ansc);
                    $('#choseAnsD').text(data.ansd);
                    //$.session.remove('ans');
                    //$.session.set("ans",data.choanswer);
                }
            })
        }
    })
    //选择题modal关闭时将quesId从session中清除
    $("#ChoseModal").on('hide.bs.modal',function (e) {
        $.session.remove("QUESID");
    })
    //选择题作答
    $("#choseForm").validate({
        rules:{
            choseAnswer:{
                required: true,//
            },
        },
        messages: {
            choseAnswer: {
                required: "请选择一个答案！",
            },
        },
        submitHandler: function (form) {
            var quesId = $.session.get('QUESID');
            var choanswer = $("#choseAnswer").val();
            var score = $.session.get('SCORE');
            //alert("score:" + score);
            //console.log("quesId"+quesId+ "typeId"+ typeId+ "title"+ title+ "score"+ score+ "ansa"+ ansa+"ansb"+ ansb+"ansc"+ansc+"ansd"+ansd+"choanswer"+ choanswer);
            //验证完成后提交表单
            //进行ajax传值
            $.ajax({
                method: 'get',
                url: "/question/comparechosanswer?quesId="+quesId+"&choanswer="+choanswer,
                success: function (msg) {
                    var json = msg["data"];
                    //alert(json["success"]);
                    if(json["success"]==true){
                        //alert("val:"+$("#choseScore").val())
                        //alert("text:"+$("#choseScore").text())
                        score = parseInt(score)+ parseInt($("#choseScore").text());
                        $.session.set('SCORE',score);
                        // layer.msg("提交答案成功！");
                    }else{
                        // layer.msg("提交答案成功！");
                    }
                    layer.msg("提交答案成功！");
                    $("#choseAnswer option[value='0']").attr("selected",true);
                    $("#ChoseModal").modal('hide');
                },
                error: function () {
                    layer.msg("提交答案失败！");
                }
            });
        }
    })

    //多选题填充信息
    $("#MultiChoseModal").on('show.bs.modal',function (e) {
        var quesId = $.session.get("QUESID");
        if(quesId){
            $.ajax({
                url: '/question/getquestionbyidnoanswer?id=' + quesId,
                method: 'get',
                success: function (data) {
                    //console.log(data);//测试能否得到question
                    if(data.quespic!=null){
                        $("#multiChoseHeader").empty();
                        $("#multiChoseHeader").append('<div class="form-group"> \n' +
                            '<img src="'+data.quespic+'" alt="" width="350" /><br></div>');
                    }
                    $('#multiChoseTitle').text(data.title);
                    //$('#choseImg').val(data['quespic']);
                    $('#multiChoseScore').text(data.score);
                    $('#multiChoseAnsA').text(data.ansa);
                    $('#multiChoseAnsB').text(data.ansb);
                    $('#multiChoseAnsC').text(data.ansc);
                    $('#multiChoseAnsD').text(data.ansd);
                    $('#multiChoseAnsE').text(data.ansd);
                    $.session.remove('ans');
                    $.session.set("ans",data.choanswer);
                }
            })
        }
    })
    //多选题modal关闭时将quesId从session中清除
    $("#MultiChoseModal").on('hide.bs.modal',function (e) {
        $.session.remove("QUESID");
    })
    //多选题作答
    $("#multiChoseForm").validate({
        rules:{
            multiChoseAnswerA:{

            },
            multiChoseAnswerB:{

            },
            multiChoseAnswerC:{

            },
            multiChoseAnswerD:{

            },
            multiChoseAnswerE:{

            },
        },
        messages: {
            multiChoseAnswerA:{

            },
            multiChoseAnswerB:{

            },
            multiChoseAnswerC:{

            },
            multiChoseAnswerD:{

            },
            multiChoseAnswerE:{

            },
        },
        submitHandler: function (form) {
            var quesId = $.session.get('QUESID');
            var choansA = $("#multiChoseAnswerA").val();
            var choansB = $("#multiChoseAnswerB").val();
            var choansC = $("#multiChoseAnswerC").val();
            var choansD = $("#multiChoseAnswerD").val();
            var choansE = $("#multiChoseAnswerE").val();
            var choanswer = parseInt(choansA)+parseInt(choansB)+parseInt(choansC)+parseInt(choansD)+parseInt(choansE);
            //alert(choanswer);
            var score = $.session.get('SCORE');
            layer.msg("before score:"+score);
            //console.log("quesId"+quesId+ "typeId"+ typeId+ "title"+ title+ "score"+ score+ "ansa"+ ansa+"ansb"+ ansb+"ansc"+ansc+"ansd"+ansd+"choanswer"+ choanswer)
            //验证完成后提交表单
            //进行ajax传值
            $.ajax({
                method: 'get',
                url: "/question/comparechosanswer?quesId="+quesId+"&choanswer="+choanswer,
                success: function (msg) {
                    var json = msg["data"];
                    //alert(json["success"]);
                    if(json["success"]==true){
                        // alert("val:"+$("#choseScore").val())
                        //alert("text:"+$("#choseScore").text())
                        score  = parseInt(score)+ parseInt($("#multiChoseScore").text());
                        $.session.set('SCORE',score);
                       // layer.msg("true score = "+score);
                    }else{
                       // layer.msg("false score = "+score);
                    }
                    layer.msg("提交答案成功！");
                    $("#multiChoseAnsA option[value='0']").attr("selected",true);
                    $("#multiChoseAnsB option[value='0']").attr("selected",true);
                    $("#multiChoseAnsC option[value='0']").attr("selected",true);
                    $("#multiChoseAnsD option[value='0']").attr("selected",true);
                    $("#multiChoseAnsE option[value='0']").attr("selected",true);
                    $("#MultiChoseModal").modal('hide');
                }
            });
        }
    })
</script>

</body>
</html>