<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/views/layout/headtest :: content}"></head>
<body class="hold-transition skin-green-light sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <div th:replace="~{/views/layout/headertest :: headerAA}"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace="~{/views/layout/menutest :: menutest}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div th:replace="~{/views/layout/foot :: footer}"></div>


</div>
<!-- ./wrapper -->


<script>
    function getQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return r[2]; return '';
    }
    $(function () {
        $("li.active").removeClass("active");
    })
    $(function () {
        var subId = getQueryString("subId");
        var uId = getQueryString("uId");
        if(subId!=null&&uId!=null){
            console.log("subId："+subId+" uId:" + uId);
            showQuestion(subId,uId);
        }
    })
    function showQuestion(subId,uId) {
        var questions  = '';
        $.ajax({
            async : false,//设置同步不然没法添加更多的表
            url: basePath+'exam/listQues?subId='+subId+'&uId='+uId,
            success: function (data) {
                alert("?");
                questions = data;
            },
        })
        console.table(questions);
    }
</script>

</body>
</html>